# --------------------------------------------------------------------
#   C++ Compiled Object files
# --------------------------------------------------------------------

*.slo
*.lo
*.o
*.obj

# --------------------------------------------------------------------
#   C++ Precompiled Headers
# --------------------------------------------------------------------

*.gch
*.pch

# --------------------------------------------------------------------
#   C++ Compiled Dynamic libraries
# --------------------------------------------------------------------

*.so
*.dylib
*.dll

# --------------------------------------------------------------------
#   C++ Compiled Static libraries
# --------------------------------------------------------------------

*.lai
*.la
*.a
*.lib

# --------------------------------------------------------------------
#   Python Byte-compiled files
# --------------------------------------------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------------------------------------------------------
#   Executables
# --------------------------------------------------------------------

*.exe
*.out
*.app

# --------------------------------------------------------------------
#   Documentation Latex files
# --------------------------------------------------------------------

doc/*/*.aux
doc/*/*.glo
doc/*/*.idx
doc/*/*.log
doc/*/*.toc
doc/*/*.ist
doc/*/*.acn
doc/*/*.acr
doc/*/*.alg
doc/*/*.bbl
doc/*/*.blg
doc/*/*.dvi
doc/*/*.glg
doc/*/*.gls
doc/*/*.ilg
doc/*/*.ind
doc/*/*.lof
doc/*/*.lot
doc/*/*.maf
doc/*/*.mtc
doc/*/*.mtc1
doc/*/*.out

# --------------------------------------------------------------------
#   Misc
# --------------------------------------------------------------------

*~
*.swp
*.geany
core
genesis
