# Genesis - A toolkit for working with phylogenetic data.
# Copyright (C) 2023-2025 Giannis Reppas and Lucas Czech
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact:
# Lucas Czech <lucas.czech@sund.ku.dk>
# University of Copenhagen, Globe Institute, Section for GeoGenetics
# Oster Voldgade 5-7, 1350 Copenhagen K, Denmark

# ================================================================================================
#   General Binder settings
# ================================================================================================

+namespace genesis

# We are not overwriting any of the default return value policies of Binder
# except for the one for assignment operators, as we always want those to be reference_internal.
# For all other cases, our wrapper script `make_bindings.py` tells us when Binder is using
# a default rv policy, so that we can manually add it here to overwrite the automatic value.

+default_member_assignment_operator_return_value_policy pybind11::return_value_policy::reference_internal
# +default_static_pointer_return_value_policy pybind11::return_value_policy::automatic
# +default_static_lvalue_reference_return_value_policy pybind11::return_value_policy::automatic
# +default_static_rvalue_reference_return_value_policy pybind11::return_value_policy::automatic
# +default_member_pointer_return_value_policy pybind11::return_value_policy::automatic
# +default_member_lvalue_reference_return_value_policy pybind11::return_value_policy::automatic
# +default_member_rvalue_reference_return_value_policy pybind11::return_value_policy::automatic
# +default_function_pointer_return_value_policy pybind11::return_value_policy::automatic
# +default_function_lvalue_reference_return_value_policy pybind11::return_value_policy::automatic
# +default_function_rvalue_reference_return_value_policy pybind11::return_value_policy::automatic

# +prefix_for_static_member_functions ""

# +include <pybind11/functional.h>

# ================================================================================================
#   C++ STL to Python
# ================================================================================================

# We want to use the pybind STL bindings.
+python_builtin std::string
+python_builtin std::vector
+python_builtin std::list
+python_builtin std::deque
+python_builtin std::array
+python_builtin std::valarray
+python_builtin std::set
+python_builtin std::unordered_set
+python_builtin std::map
+python_builtin std::unordered_map

# std::string_view
+python_builtin std::string_view
+python_builtin std::basic_string_view
+python_builtin std::basic_string_view<char,std::char_traits<char>

# Those ones are more tricky. Need to see how to handle them later.
# +python_builtin std::pair
# +python_builtin std::tuple
# +python_builtin std::optional
# +python_builtin std::variant
# +python_builtin std::shared_ptr
# +python_builtin std::unique_ptr
# +python_builtin std::basic_istream<char,std::char_traits<char>>

# ================================================================================================
#   std
# ================================================================================================

# Unfortunately, it seems we might need to explicitly blacklist everything from std
# that we do not want bindings for, see https://github.com/RosettaCommons/binder/issues/318
# Not all of them seem to be needed to be excluded if we deactivate the classes and functions
# anyway that cause binder to create bindings for them. Keeping the list here for now.

# -class _IO_FILE

# -class std::basic_ios
# -class std::basic_ostringstream
# -class std::ios_base
# -class std::istream
# -class std::locale
# -class std::ostream
# -class std::ostringstream
# -class std::streambuf
# -class std::stringbuf
# -class std::string_view

# -class std::error_category
# -class std::system_error

# ================================================================================================
#   utils
# ================================================================================================

# ---------------------------------------------------------------------
#   core
# ---------------------------------------------------------------------

#include <genesis/utils/core/algorithm.hpp>
-function genesis::utils::core::sort_indices
-function genesis::utils::core::stable_sort_indices

#include <genesis/utils/core/exception.hpp>
-class genesis::utils::core::Exception
-class genesis::utils::core::IOError
-class genesis::utils::core::ExistingFileError

#include <genesis/utils/core/info.hpp>
+return_value_policy genesis::utils::core::info_get_compiler pybind11::return_value_policy::copy
+return_value_policy genesis::utils::core::info_preprocessor_definitions pybind11::return_value_policy::copy
+return_value_policy genesis::utils::core::info_get_hardware pybind11::return_value_policy::copy

#include <genesis/utils/core/logging.hpp>
-class genesis::utils::core::Logging
-class genesis::utils::core::LoggingDetails
-class genesis::utils::core::LoggingLevel
-class genesis::utils::core::LoggingScopeLevel
-function genesis::utils::core::logging_progress_value

#include <genesis/utils/core/options.hpp>
-function genesis::utils::core::Options::command_line
-function genesis::utils::core::Options::command_line_string
-function genesis::utils::core::Options::random_engine
-function genesis::utils::core::Options::global_thread_pool
+return_value_policy genesis::utils::core::Options::get pybind11::return_value_policy::reference

#include <genesis/utils/core/std.hpp>
-function genesis::utils::core::combine_hashes
-function genesis::utils::core::combine_hashes_32
-function genesis::utils::core::combine_hashes_64
-function genesis::utils::core::hash_combine
-function genesis::utils::core::make_unique
-class genesis::utils::core::genesis_invoke_result

# ---------------------------------------------------------------------
#   io
# ---------------------------------------------------------------------

#include <genesis/utils/io/base_input_source.hpp>
-function genesis::utils::io::BaseInputSource::read
+include_for_class genesis::utils::io::BaseInputSource <genesis/utils/io/base_input_source_add_ons.hpp>
+add_on_binder genesis::utils::io::BaseInputSource genesis_utils_io_base_input_source_add_ons

#include <genesis/utils/io/file_input_source.hpp>
-function genesis::utils::io::FileInputSource::FileInputSource
+function genesis::utils::io::FileInputSource::FileInputSource(const std::string &)

#include <genesis/utils/io/gzip.hpp>
-class genesis::utils::io::GzipError

#include <genesis/utils/io/gzip_block_ostream.hpp>
-class genesis::utils::io::GzipBlockOStream

#include <genesis/utils/io/gzip_stream.hpp>
-class genesis::utils::io::GzipIFStream
-class genesis::utils::io::GzipOFStream
-class genesis::utils::io::GzipIStream
-class genesis::utils::io::GzipOStream
+enum class genesis::utils::io::GzipCompressionLevel

#include <genesis/utils/io/input_buffer.hpp>
-class genesis::utils::io::InputBuffer

#include <genesis/utils/io/input_reader.hpp>
-class genesis::utils::io::AsynchronousReader
-class genesis::utils::io::SynchronousReader

#include <genesis/utils/io/input_source.hpp>
+include_for_namespace genesis::utils::io <genesis/utils/io/input_source_add_ons.hpp>
+add_on_binder_for_namespace genesis::utils::io genesis_utils_io_input_source_add_ons
-function genesis::utils::io::from_file
-function genesis::utils::io::from_stream
-function genesis::utils::io::from_string
-function genesis::utils::io::from_string_view

#include <genesis/utils/io/input_stream.hpp>
-class genesis::utils::io::InputStream

#include <genesis/utils/io/scanner.hpp>
-enum genesis::utils::io::SkipWhitespace

#include <genesis/utils/io/stream_input_source.hpp>
-class genesis::utils::io::StreamInputSource

#include <genesis/utils/io/strict_fstream.hpp>
-class genesis::utils::io::StrictFStream
-class genesis::utils::io::StrictIFStream
-class genesis::utils::io::StrictOFStream

#include <genesis/utils/io/string_input_source.hpp>
-function genesis::utils::io::StringInputSource::StringInputSource(const char *, unsigned long)
-function genesis::utils::io::StringInputSource::StringInputSource(class std::basic_string_view<char>)

# ---------------------------------------------------------------------
#   math
# ---------------------------------------------------------------------

#include <genesis/utils/math/common.hpp>
-function genesis::utils::math::finite_pairs
-function genesis::utils::math::for_each_finite_pair

#include <genesis/utils/math/compensated_sum.hpp>
+include_for_class genesis::utils::math::CompensatedSum <genesis/utils/math/compensated_sum_add_ons.hpp>
+add_on_binder genesis::utils::math::CompensatedSum genesis_utils_math_compensated_sum_add_ons

#include <genesis/utils/math/correlation.hpp>
-function genesis::utils::math::pearson_correlation_coefficient
+function genesis::utils::math::pearson_correlation_coefficient(const class std::vector<double> &, const class std::vector<double> &)
-function genesis::utils::math::spearmans_rank_correlation_coefficient
+function genesis::utils::math::spearmans_rank_correlation_coefficient(const class std::vector<double> &, const class std::vector<double> &)
-function genesis::utils::math::kendalls_tau_correlation_coefficient
+function genesis::utils::math::kendalls_tau_correlation_coefficient(const class std::vector<double> &, const class std::vector<double> &, enum genesis::utils::math::KendallsTauMethod)

#include <genesis/utils/math/ranking.hpp>
-function genesis::utils::math::ranking_standard
+function genesis::utils::math::ranking_standard(const class std::vector<double> &)
-function genesis::utils::math::ranking_modified
+function genesis::utils::math::ranking_modified(const class std::vector<double> &)
-function genesis::utils::math::ranking_dense
+function genesis::utils::math::ranking_dense(const class std::vector<double> &)
-function genesis::utils::math::ranking_ordinal
+function genesis::utils::math::ranking_ordinal(const class std::vector<double> &)
-function genesis::utils::math::ranking_fractional
+function genesis::utils::math::ranking_fractional(const class std::vector<double> &)
-function genesis::utils::math::n_first_elements

#include <genesis/utils/math/statistics.hpp>
-function genesis::utils::math::arithmetic_mean
+function genesis::utils::math::arithmetic_mean(const class std::vector<double> &)
-function genesis::utils::math::weighted_arithmetic_mean
+function genesis::utils::math::weighted_arithmetic_mean(const class std::vector<double> &, const class std::vector<double> &)
-function genesis::utils::math::geometric_mean
+function genesis::utils::math::geometric_mean(const class std::vector<double> &)
-function genesis::utils::math::weighted_geometric_mean
+function genesis::utils::math::weighted_geometric_mean(const class std::vector<double> &, const class std::vector<double> &)
-function genesis::utils::math::harmonic_mean
+function genesis::utils::math::harmonic_mean(const class std::vector<double> &, enum genesis::utils::math::HarmonicMeanZeroPolicy)
-function genesis::utils::math::weighted_harmonic_mean
+function genesis::utils::math::weighted_harmonic_mean(const class std::vector<double> &, const class std::vector<double> &, enum genesis::utils::math::HarmonicMeanZeroPolicy)
-function genesis::utils::math::closure
+function genesis::utils::math::closure(const class std::vector<double> &)
-function genesis::utils::math::mean_stddev
+function genesis::utils::math::mean_stddev(const class std::vector<double> &, double)

# ---------------------------------------------------------------------
#   text
# ---------------------------------------------------------------------

#include <genesis/utils/text/char.hpp>
-function genesis::utils::text::is_ascii
+function genesis::utils::text::is_ascii(char)

#include <genesis/utils/text/convert.hpp>
-function genesis::utils::text::convert_from_string
-function genesis::utils::text::convert_from_chars

#include <genesis/utils/text/light_string.hpp>
-class genesis::utils::text::LightString

#include <genesis/utils/text/style.hpp>
+return_value_policy genesis::utils::text::Style::reset pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Style::enabled pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Style::bold pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Style::foreground_color pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Style::background_color pybind11::return_value_policy::reference_internal

#include <genesis/utils/text/table.hpp>
-function genesis::utils::text::Table::write
-function genesis::utils::text::Table::Column::write_row
-function genesis::utils::text::Table::Column::write_label
+return_value_policy genesis::utils::text::Table::add_column pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Table::operator<< pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Table::append pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::text::Table::line_break pybind11::return_value_policy::reference_internal

# ---------------------------------------------------------------------
#   threading
# ---------------------------------------------------------------------

# No need for any threading to be accessible from Python.
# This is all just needed internally in genesis functions.

-namespace genesis::utils::threading
-namespace moodycamel

# Manual list of classes. Might not be comprehensive.
# Kept here for convenience in case we need more granularity
# instead of just excluding the whole namespace.
# -class genesis::utils::threading::ConcurrentVectorGuard
# -class genesis::utils::threading::MultiFuture
# -class genesis::utils::threading::ProactiveFuture
# -class genesis::utils::threading::SequentialOutputBuffer
# -class genesis::utils::threading::SerialTaskQueue
# -class genesis::utils::threading::ThreadCriticalSection
# -class genesis::utils::threading::ThreadLocalCache
# -class genesis::utils::threading::ThreadPool
# -class genesis::utils::threading::ThreadsafeQueue

# ---------------------------------------------------------------------
#   tools
# ---------------------------------------------------------------------

#include <genesis/utils/tools/date_time.hpp>
-function genesis::utils::tm_to_time
-function genesis::utils::time_to_tm
-function genesis::utils::tm_to_string
-function genesis::utils::tm_date_to_string
-function genesis::utils::tm_time_to_string
-function genesis::utils::convert_to_tm
-function genesis::utils::is_convertible_to_tm

#include <genesis/utils/tools/geodesy/geo_coordinate.hpp>
+return_value_policy genesis::utils::GeoCoordinate::latitude pybind11::return_value_policy::reference_internal
+return_value_policy genesis::utils::GeoCoordinate::longitude pybind11::return_value_policy::reference_internal

#include <genesis/utils/tools/hash/md5.hpp>
-function genesis::utils::MD5::update( std::istream& )

#include <genesis/utils/tools/hash/sha1.hpp>
-function genesis::utils::SHA1::update( std::istream& )

#include <genesis/utils/tools/hash/sha256.hpp>
-function genesis::utils::SHA256::update( std::istream& )
