# Genesis - A toolkit for working with phylogenetic data.
# Copyright (C) 2023-2025 Giannis Reppas and Lucas Czech
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact:
# Lucas Czech <lucas.czech@sund.ku.dk>
# University of Copenhagen, Globe Institute, Section for GeoGenetics
# Oster Voldgade 5-7, 1350 Copenhagen K, Denmark

# ================================================================================================
#   General Binder settings
# ================================================================================================

+namespace genesis

+default_static_pointer_return_value_policy pybind11::return_value_policy::reference_internal
+default_static_lvalue_reference_return_value_policy pybind11::return_value_policy::reference
# +default_member_pointer_return_value_policy pybind11::return_value_policy::reference_internal
# +default_member_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal

# +prefix_for_static_member_functions ""

# +include <pybind11/functional.h>

# ================================================================================================
#   C++ STL to Python
# ================================================================================================

# We want to use the pybind STL bindings.
+python_builtin std::string
+python_builtin std::vector
+python_builtin std::list
+python_builtin std::deque
+python_builtin std::array
+python_builtin std::valarray
+python_builtin std::set
+python_builtin std::unordered_set
+python_builtin std::map
+python_builtin std::unordered_map

# Those ones are more tricky. Need to see how to handle them later.
# +python_builtin std::pair
# +python_builtin std::tuple
# +python_builtin std::optional
# +python_builtin std::variant
# +python_builtin std::shared_ptr
# +python_builtin std::unique_ptr
# +python_builtin std::basic_istream<char,std::char_traits<char>>

# ================================================================================================
#   std
# ================================================================================================

# Unfortunately, it seems we might need to explicitly blacklist everything from std
# that we do not want bindings for, see https://github.com/RosettaCommons/binder/issues/318
# Not all of them seem to be needed to be excluded if we deactivate the classes and functions
# anyway that cause binder to create bindings for them. Keeping the list here for now.

# -class _IO_FILE

# -class std::basic_ios
# -class std::basic_ostringstream
# -class std::ios_base
# -class std::istream
# -class std::locale
# -class std::ostream
# -class std::ostringstream
# -class std::streambuf
# -class std::stringbuf
# -class std::string_view

# -class std::error_category
# -class std::system_error

# ================================================================================================
#   utils
# ================================================================================================

# ---------------------------------------------------------------------
#   io
# ---------------------------------------------------------------------

+include_for_namespace genesis::utils::io <custom/utils/io/extra_bindings.hpp>

#include <genesis/utils/io/base_input_source.hpp>
-function genesis::utils::io::BaseInputSource::read

#include <genesis/utils/io/file_input_source.hpp>
-function genesis::utils::io::FileInputSource::FileInputSource(const std::string &, struct _IO_FILE *)

#include <genesis/utils/io/gzip.hpp>
-class genesis::utils::io::GzipError

#include <genesis/utils/io/gzip_block_ostream.hpp>
-class genesis::utils::io::GzipBlockOStream

#include <genesis/utils/io/gzip_stream.hpp>
-class genesis::utils::io::GzipIFStream
-class genesis::utils::io::GzipOFStream
-class genesis::utils::io::GzipIStream
-class genesis::utils::io::GzipOStream
+enum class genesis::utils::io::GzipCompressionLevel

#include <genesis/utils/io/input_buffer.hpp>
-class genesis::utils::io::InputBuffer

#include <genesis/utils/io/input_reader.hpp>
-class genesis::utils::io::AsynchronousReader
-class genesis::utils::io::SynchronousReader

#include <genesis/utils/io/input_source.hpp>
-function genesis::utils::io::from_file
-function genesis::utils::io::from_stream
-function genesis::utils::io::from_string(class std::basic_string_view<char>)
-function genesis::utils::io::from_string_view
+add_on_binder_for_namespace genesis::utils::io genesis_binder_utils_io_input_source

#include <genesis/utils/io/input_stream.hpp>
-class genesis::utils::io::InputStream

#include <genesis/utils/io/stream_input_source.hpp>
-class genesis::utils::io::StreamInputSource

#include <genesis/utils/io/strict_fstream.hpp>
-class genesis::utils::io::StrictFStream
-class genesis::utils::io::StrictIFStream
-class genesis::utils::io::StrictOFStream

#include <genesis/utils/io/string_input_source.hpp>
-function genesis::utils::io::StringInputSource::StringInputSource(const char *, unsigned long)
-function genesis::utils::io::StringInputSource::StringInputSource(class std::basic_string_view<char>)

# ---------------------------------------------------------------------
#   core
# ---------------------------------------------------------------------

#include <genesis/utils/core/exception.hpp>
-class genesis::utils::core::Exception
-class genesis::utils::core::IOError
-class genesis::utils::core::ExistingFileError

#include <genesis/utils/core/logging.hpp>
-class genesis::utils::core::Logging
-class genesis::utils::core::LoggingDetails
-class genesis::utils::core::LoggingLevel
-class genesis::utils::core::LoggingScopeLevel
-function genesis::utils::core::logging_progress_value

#include <genesis/utils/core/options.hpp>
-function genesis::utils::core::Options::command_line
-function genesis::utils::core::Options::command_line_string
-function genesis::utils::core::Options::random_engine
-function genesis::utils::core::Options::global_thread_pool

#include <genesis/utils/core/std.hpp>
-function genesis::utils::core::combine_hashes
-function genesis::utils::core::combine_hashes_32
-function genesis::utils::core::combine_hashes_64
-function genesis::utils::core::hash_combine
-function genesis::utils::core::make_unique
-class genesis::utils::core::genesis_invoke_result

# ---------------------------------------------------------------------
#   threading
# ---------------------------------------------------------------------

# No need for any threading to be accessible from Python.
# This is all just needed internally in genesis functions.

-class genesis::utils::threading::ConcurrentVectorGuard
-class genesis::utils::threading::MultiFuture
-class genesis::utils::threading::ProactiveFuture
-class genesis::utils::threading::SequentialOutputBuffer
-class genesis::utils::threading::SerialTaskQueue
-class genesis::utils::threading::ThreadCriticalSection
-class genesis::utils::threading::ThreadLocalCache
-class genesis::utils::threading::ThreadPool
-class genesis::utils::threading::ThreadsafeQueue
-namespace moodycamel
