-namespace genesis::except
-namespace genesis::population

# dont bind bits/types.h
#-class _IO_FILE

+default_static_pointer_return_value_policy pybind11::return_value_policy::reference_internal
+default_member_pointer_return_value_policy pybind11::return_value_policy::reference_internal
+default_static_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal
+default_member_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal

+include <pybind11/functional.h>


###################################### utils ##############################

# iterate matrix , swap matrix,rows
+include <../python/custom_bindings/extensions/utils/matrix.hpp>
+add_on_binder genesis::utils::Matrix extend_matrix
+add_on_binder_for_namespace genesis::utils extend_matrix_operations

# creates binding code error
-function genesis::utils::swap

# needed to compile the template instance of ::genesis::utils::Matrix::Color
+include <genesis/utils/color/functions.hpp>

# bool vector constructor , binary operations
+include <../python/custom_bindings/extensions/utils/bitvector.hpp>
+add_on_binder genesis::utils::Bitvector extend_bitvector

# to bind utils/io/input_stream
# these classes cause bugs and we (probably) don't need them in Python
-class genesis::utils::MultiFuture
-class genesis::utils::ThreadPool
-class genesis::utils::ProactiveFuture
-class genesis::utils::AsynchronousReader

# to bind utils/io/output_target
# these classes cause bugs and we (probably) don't need them in Python
-class genesis::utils::StrictIFStream
-class genesis::utils::StrictOFStream
-class genesis::utils::GzipIFStream
-class genesis::utils::GzipOFStream
-class genesis::utils::GzipIStream
-class genesis::utils::GzipOStream

# defines functions that make different instances of Range<> iterable
+include <../python/custom_bindings/extensions/utils/range.hpp>
+add_on_binder genesis::utils::Range extend_range

-function genesis::utils::NexusBlock::operator=
-function genesis::utils::NexusDocument::operator=
-function genesis::utils::NexusDocument::set_block

# to bind to_string
-function genesis::utils::to_string
+include <../python/custom_bindings/extensions/string_target.hpp>
+add_on_binder_for_namespace genesis::utils extend_string_target
+add_on_binder genesis::sequence::FastaOutputIterator extend_fasta_output_iterator


###################################### sequence ##############################

# function removed to use custom overloading for strings only (unable to have both char,string in python)
-function genesis::sequence::quality_decode_to_phred_score
+include <../python/custom_bindings/extensions/sequence/quality.hpp>
+add_on_binder_for_namespace genesis::sequence extend_quality

# to iterate over sequence set
+include <../python/custom_bindings/extensions/sequence/sequence_set.hpp>
+add_on_binder genesis::sequence::SequenceSet extend_sequence_set

# creates some binder errors that need to be checked - not bound for now
-function genesis::sequence::swap

# to bind SequenceDict iterators, iterate over SequenceDict
-function genesis::sequence::SequenceDict::begin
-function genesis::sequence::SequenceDict::end
-function genesis::sequence::SequenceDict::find
+include <../python/custom_bindings/extensions/sequence/sequence_dict.hpp>
+add_on_binder genesis::sequence::SequenceDict extend_sequence_dict

# to make FastaInputIterator iterable
+include <../python/custom_bindings/extensions/sequence/fasta_input_iterator.hpp>
+add_on_binder genesis::sequence::FastaInputIterator extend_fasta_input_iterator

# to make FastqInputIterator iterable
+include <../python/custom_bindings/extensions/sequence/fastq_input_iterator.hpp>
+add_on_binder genesis::sequence::FastqInputIterator extend_fastq_input_iterator

#+include <../python/custom_bindings/extensions/sequence/fasta_output_iterator.hpp>
#-function genesis::sequence::FastaOutputIterator::FastaOutputIterator
#+add_on_binder genesis::sequence::FastaOutputIterator extend_fasta_output_iterator

# to bind ReferenceGenome iterators
-function genesis::sequence::ReferenceGenome::begin
-function genesis::sequence::ReferenceGenome::end
-function genesis::sequence::ReferenceGenome::find
+include <../python/custom_bindings/extensions/sequence/reference_genome.hpp>
+add_on_binder genesis::sequence::ReferenceGenome extend_reference_genome


###################################### taxonomy ##############################

# to bind taxonomy/taxon (bug with binder)
-class genesis::taxonomy::BaseTaxonData

# to bind operations between taxopaths
+include <../python/custom_bindings/extensions/taxonomy/taxopath.hpp>
+add_on_binder genesis::taxonomy::Taxopath extend_taxopath

# works without it, find out why though
#+include <../python/custom_bindings/extensions/taxonomy/functions_taxonomy.hpp>
#-function genesis::taxonomy::find_taxon_by_name
#+add_on_binder_for_namespace genesis::taxonomy extend_functions_taxonomy

# parent pointer is lost when passing taxon object to an std::function defined in python side
# i don't know why yet, but replacing with taxon pointer argument solved the problem
+include <../python/custom_bindings/extensions/taxonomy/iterator.hpp>
-function genesis::taxonomy::preorder_for_each
+add_on_binder_for_namespace genesis::taxonomy extend_iterator


###################################### tree ##############################

# binder errors in trampoline classes creations
# we (PROBABLY) don't need these classes in python anyway
-class genesis::tree::BaseNodeData
-class genesis::tree::BaseEdgeData
#+include <../python/custom_bindings/extensions/tree/common_node_data.hpp>
#+add_on_binder genesis::tree::CommonNodeData extend_common_node_data

# compiler errors if we include them
-class genesis::utils::DereferenceIterator
-function genesis::tree::Tree::expose_link_container
-function genesis::tree::Tree::expose_node_container
-function genesis::tree::Tree::expose_edge_container

+include <../python/custom_bindings/extensions/tree/tree.hpp>
+add_on_binder genesis::tree::Tree extend_tree

+include <../python/custom_bindings/extensions/tree/functions_tree.hpp>
+add_on_binder_for_namespace genesis::tree extend_tree_functions

-function genesis::tree::convert


###################################### placement ##############################

# binder error, keep it out, for now
-function genesis::placement::swap

-function genesis::placement::edge_num_to_edge_map
+include <../python/custom_bindings/extensions/placement/helper.hpp>
+add_on_binder_for_namespace genesis::placement extend_helper


###################################### population ##############################

# todo